coordinator=false
http-server.http.port=8080
task.max-memory={{presto_task_max_memory}}
query.max-memory={{presto_query_max_memory}}
query.max-memory-per-node={{presto_query_max_memory_per_node}}
discovery.uri=http://{{coordinator_host}}:8080
