coordinator=true
node-scheduler.include-coordinator={{singlenode}}
discovery-server.enabled=true
http-server.http.port=8080
task.max-memory=1GB
query.max-memory=5GB
query.max-memory-per-node=1GB
discovery.uri=http://localhost:8080
