coordinator=true
node-scheduler.include-coordinator={{singlenode}}
discovery-server.enabled=true
http-server.http.port={{presto_server_port}}
query.max-memory={{presto_query_max_memory}}
query.max-memory-per-node={{presto_query_max_memory_per_node}}
query.max-total-memory-per-node={{presto_query_max_total_memory_per_node}}
discovery.uri=http://{{coordinator_host}}:{{presto_server_port}}
